
td.active {
  background-image: url("bluecar.png");
  background-repeat: no-repeat;
  background-position: center; 
}

#red td.active {
  background-image: url("redcar.png");
  background-repeat: no-repeat;
  background-position: center; 
}

td {
  border-style: solid;
  border-right-style: solid;
  padding: 50px;
}

#main {
  margin-left: 30px;
}

/*Track lanes*/

.left {
  background-color: white;
  height: 50px;
  width: 40px;
  border-style: solid;
  border-left-color: black;
  border-right-style: dashed;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.middle-left {
  background-color: white;
  height: 50px;
  width: 40px;
  border-style: solid;
  border-left-color: black;
  border-left-style: dashed;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.middle-right {
  background-color: white;
  height: 50px;
  width: 40px;
  border-style: solid;
  border-left-color: black;
  border-right-style: dashed;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.right {
  background-color: white;
  height: 50px;
  width: 40px;
  border-style: solid;
  border-left-color: black;
  border-left-style: dashed;
  border-top-color: transparent;
  border-bottom-color: transparent;
}