

.racer_table td {
  background-color: white;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: transparent;
  border-top-color: black;
  border-bottom-color: black;
}

#final {
  background-color: gray;
  border-right-color: white;
}

#blue td.active {
  background-image: url("bluecar.png");
  background-repeat: no-repeat;
  background-position: center; 
}

#red td.active {
  background-image: url("redcar.png");
  background-repeat: no-repeat;
  background-position: center; 
}

#main {
  margin-left: 30px;
}