
td.active {
  background-image: url("car.png");
  background-repeat: no-repeat;
  background-position: center; 
}

td.obstacle {
  background-color: red;
  background-repeat: no-repeat;
  background-position: center; 
}

td {
  height: 50px;
  width: 40px;
  padding: 50px;
}

#main {
  margin-left: 30px;
}

/*Track lanes*/
td.one, td.three {
  border-style: none dashed none solid;
}
td.two, td.four {
  border-style: none solid none dashed;
}

td.finish {
  background-color: green;
}